<div class="row" *ngIf="(selectedTask$ | async) as selectedTask">
    <div class="col-sm-12 top-row">
      <div class="row">
        <div class="col-md-12 col-lg-7">
          <h2>{{selectedTask.task.title | uppercase}}</h2>
          <p class="p-left-20">
            {{selectedTask.task.wireFrame}}
            <br />
            <b>
              Owner: {{selectedTask.task.assignees[0]?.name ?? 'Rachel Miller'}}
            </b>
          </p>
        </div>
        <div class="col-md-12 col-lg-5 p-right-10 top-row-list">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <p class="text-grey underline">Team members 
                <a (click)="openModal('assign-team-member')" class="underline-none text-grey cursor-pointer">
                  <i class="fa fa-plus"></i>
                </a>
              </p>
            </div>
            <div class="col-sm-12 col-md-8">
              <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Team members</li>
                <li *ngFor="let item of (teamMembers$ | async)" class="list-group-item">{{item.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 task-content-area">
      <div class="w-100 auto-height">
        <div class="w-100">
          <div *ngIf="selectedTask.subtasks?.length > 0" class="d-flex justify-content-between gap-4 align-items-center"
            style="font-size: 13px; padding: 0 1rem;">
            <div class="" style="width : 60%;">
              <div>
                <!-- icon and done label here -->
                <p class="font-16 fw-500"><i class="fa fa-caret-down"></i> DONE</p>
              </div>
            </div>
            <div class="" style="width: 40%; display: flex; justify-content: center;">
              <div style="width:80%;">
                <!-- Header that should not be duplicated -->
                <div class="d-flex justify-content-between align-items-center gap-4">
                  <p class="fw-500 font-14">Assignee</p>
                  <p class="fw-500 font-14">Due&nbsp;Date</p>
                  <p class="fw-500 font-14">Time&nbsp;Estimate</p>
                </div>
              </div>
            </div>
          </div>

          <div style="width: 100%; font-size: 13px;">
            <div *ngFor="let subTask of doneTasks" class="d-flex justify-content-between gap-4 align-items-center px-5">
              <div class="" style="width: 60%;">
                <p class="font-14"><i class="fa fa-check-circle text-success"></i> 
                  {{subTask.title | uppercase}}
                </p>
              </div>

              <div style="width:40%; display: flex; justify-content: center; align-items: center;">
                <div style="width: 80%;">
                  <!-- content that can be duplicated -->
                  <div class="py-1 px-3 d-flex justify-content-between align-items-center gap-4">
                    <div class="rounded-circle p-1 bg-success text-white">
                      <span>{{subTask.assignees[0]?.initials ?? 'KM'}}</span>
                    </div>
                    <div class="py-1 px-3">
                      <span class="text-success">{{subTask.dueDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="p-1">
                      <span>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            {{subTask.timeEstimate}}
                          </label>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- in progress -->
            <div>
              <section style="padding: 0 1rem;">
                <!-- icon here -->
                <p class="font-16 fw-500"><i class="fa fa-caret-down"></i> IN&nbsp;PROGRESS</p>
              </section>
              <section *ngFor="let subTask of inProgressTasks">
                <div class="d-flex justify-content-between gap-4 align-items-center px-5">
                  <div class="" style="width: 60%;">
                    <p class="font-14"><i class="fa fa-square text-success"></i> 
                      {{subTask.title | uppercase}}
                    </p>
                  </div>

                  <div class="task-list-right">
                    <div class="content">
                      <!-- content that can be duplicated -->
                      <div class="px-3 py-1 d-flex justify-content-between align-items-center gap-4">
                        <div class="rounded-circle p-1 bg-info text-white">
                          <span>{{subTask.assignees[0]?.initials ?? 'KM'}}</span>
                        </div>
                        <div class="py-1 px-3">
                          <span class="text-danger">
                            {{subTask.dueDate | date: 'dd/MM/yyyy'}}
                          </span>
                        </div>
                        <div class="p-1">
                          <span>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                {{subTask.timeEstimate}}
                              </label>
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <!-- backlog -->
            <div>
              <section style="padding: 0 1rem;">
                <!-- icon here -->
                <p class="font-16 fw-500"><i class="fa fa-caret-down"></i> BACKLOG</p>
              </section>
              <section *ngFor="let subTask of backlogTasks">
                <div class="d-flex justify-content-between gap-4 align-items-center px-5">
                  <div class="" style="width: 60%;">
                    <p class="font-14"><i class="fa fa-square text-grey"></i> 
                      {{subTask.title | uppercase}}
                    </p>
                  </div>

                  <div class="task-list-right">
                    <div class="content">
                      <!-- content that can be duplicated -->
                      <div class="px-3 py-1 d-flex justify-content-between align-items-center gap-4">
                        <div class="rounded-circle p-1 bg-success text-white">
                          <span>{{subTask.assignees[0]?.initials ?? 'KM'}}</span>
                        </div>
                        <div class="py-1 px-3">
                          <span>{{subTask.dueDate | date: 'dd/MM/yyyy'}}</span>
                        </div>
                        <div class="p-1">
                          <span>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                {{subTask.timeEstimate}}
                              </label>
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 p-left-20 p-top-10">
      <a (click)="openModal('add-new-sub-project-task')" class="underline-none text-grey cursor-pointer">
        + New Task
      </a>
    </div>
  </div>

<jw-modal id="add-new-sub-project-task" style="z-index: 999999999;">
  <button class="btn-flat" (click)="closeModal('add-new-sub-project-task');">X</button>
  <add-sub-task 
    (newSubTaskData)="onNewTaskData($event)">
  </add-sub-task>
</jw-modal>

<jw-modal id="assign-team-member" style="width: 50%;">
  <button class="btn-flat" (click)="closeModal('assign-team-member');">X</button>
  <app-assign-team-member (taskData)="assignNewTeamMember($event)"></app-assign-team-member>
</jw-modal>